name: git-hub-repo-stats

on:
    schedule:
      - cron: "0 23 * * *"
    workflow_dispatch:
    push:
      branches:
        - main
      paths:
        - '.github/workflows/repostats.yml'

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 'Languages Activity'
        uses: lowlighter/metrics@latest
        with:
          filename: Metrics/languages.svg
          token: ${{ secrets.GHRS_GITHUB_API_TOKEN }}
          config_timezone: Europe/Rome
          base: ''
          plugin_languages: yes
          plugin_languages_skipped: delpiter/Obsidian-Vault, delpiter/Numerical_Methods_for_AI
          plugin_languages_ignored: >-
            powershell
          plugin_languages_details: percentage, byte-size
          plugin_languages_indepth_custom: the-real-deal/unicook, the-real-deal/unibo-iot-electronic-transistor, the-real-deal/columbus-trips
          plugin_languages_limit: 8
      - name: 'user'
        uses: lowlighter/metrics@latest
        with:
          filename: Metrics/user.svg
          token: ${{ secrets.GHRS_GITHUB_API_TOKEN }}
          base: header, repositories
          plugin_lines: yes
      - name: 'Followers'
        uses: lowlighter/metrics@latest
        with:
          filename: Metrics/followers.svg
          token: ${{ secrets.GHRS_GITHUB_API_TOKEN }}
          base: ""
          plugin_people: yes
          plugin_people_types: followers
